[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
pyTelegramBotAPI="*"
requests="*"
telegraphapi="*"
openpyxl="*"
psycopg2="*"
bs4="*"
xlrd="*"
rarfile="*"
[requires]
python_version = "3.6"
